@media only screen and (max-width: 60em) {
  body {
    background-color: rgb(250, 191, 191);
  }

  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 47em) {
  body {
    background-color: rgb(247, 247, 201);
  }

  html {
    font-size: 50%;
  }

  .app {
    position: relative;
    max-width: 100rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto repeat(6, 15rem) auto;
    gap: 2rem;

    /* NOTE This creates the fade in/out anumation */
    opacity: 0;
    transition: all 1s;
  }

  .movements {
    /* grid-row: 2 / span 3; */
    grid-column: 1 / 3;
    grid-row: 2 / 5;
  }

  .operation--transfer {
    grid-row: 5;
    grid-column: 2;
  }

  .operation--loan {
    grid-row: 6;
    grid-column: 2;
  }

  .operation--close {
    grid-row: 7;
    grid-column: 2;
  }

  .summary {
    grid-row: 5 / 7;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    padding: 0 0.3rem;
    margin-top: 1rem;
  }
  .summary__label {
    margin-top: 1.5rem;
  }
  .logout-timer {
    text-align: left;
  }
}

@media only screen and (max-width: 28em) {
  body {
    background-color: rgb(182, 238, 182);
  }

  html {
    font-size: 48%;
  }
  .operation--transfer {
    grid-row: 5;
    grid-column: 1/3;
  }

  .operation--loan {
    grid-row: 6;
    grid-column: 1/3;
  }

  .operation--close {
    grid-row: 7;
    grid-column: 1/3;
  }

  .summary {
    grid-row: 8;
    display: flex;
    flex-direction: row;
    /* align-items: baseline; */
    padding: 0 0.3rem;
    margin-top: 1rem;
  }
  .summary__label {
    margin-top: 1.5rem;
  }
  .logout-timer {
    grid-row: 9;
  }
  .welcome {
    display: none;
  }
}

@media only screen and (max-width: 22em) {
  body {
    background-color: rgb(243, 199, 243);
  }
  html {
    font-size: 46%;
  }
}

@media only screen and (min-width: 85em) {
  body {
    background-color: rgb(191, 238, 250);
  }

  html {
    font-size: 70%;
  }
}
